// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Mon Aug 24 21:27:39 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/constants.vh"
// file 1 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/network_tb.v"
// file 2 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/ram.v"
// file 3 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/spike_array.v"
// file 4 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/spike_neuron.v"
// file 5 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/weight_manager_unit.v"
// file 6 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/weight_multiply_array.v"
// file 7 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/weight_multiply_unit.v"
// file 8 "d:/lscc/radiant/2026.1/ip/pmi/pmi_lifcl.v"
// file 9 "d:/lscc/radiant/2026.1/ip/pmi/pmi_lifcl.vhd"
// file 11 "d:/programs/neuromophic_fpga/sources/neuromorphic_lattice/source/impl_1/memory_init.txt"
// file 12 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 13 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 14 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 15 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 16 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 17 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 18 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 19 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 20 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 21 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 22 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 23 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 24 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 25 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 26 "d:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 27 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 28 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 29 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 30 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 31 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 32 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp_true/rtl/lscc_lfmxo4_ram_dp_true.v"
// file 33 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp_true/rtl/lscc_lfmxo4_ram_dp_true_behavioral.v"
// file 34 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp_true/rtl/lscc_lfmxo4_ram_dp_true_ecc_decoder.v"
// file 35 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp_true/rtl/lscc_lfmxo4_ram_dp_true_functions.vh"
// file 36 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp_true/rtl/lscc_lfmxo4_ram_dp_true_impl.v"
// file 37 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp_true/rtl/lscc_lfmxo4_ram_dp_true_lut_decode.v"
// file 38 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 39 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 40 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 41 "d:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 42 "d:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 43 "d:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 44 "d:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 45 "d:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 46 "d:/lscc/radiant/2026.1/ip/common/distributed_dpram/rtl/lscc_distributed_dpram.v"
// file 47 "d:/lscc/radiant/2026.1/ip/common/distributed_rom/rtl/lscc_distributed_rom.v"
// file 48 "d:/lscc/radiant/2026.1/ip/common/distributed_spram/rtl/lscc_distributed_spram.v"
// file 49 "d:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 50 "d:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 51 "d:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 52 "d:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 53 "d:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 54 "d:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 55 "d:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 56 "d:/lscc/radiant/2026.1/ip/common/ram_dp_true/rtl/lscc_ram_dp_true.v"
// file 57 "d:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 58 "d:/lscc/radiant/2026.1/ip/common/ram_shift_reg/rtl/lscc_shift_register.v"
// file 59 "d:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 60 "d:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 61 "d:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 62 "d:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 63 "d:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 64 "d:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 65 "d:/lscc/radiant/2026.1/ip/pmi/pmi_distributed_dpram.v"
// file 66 "d:/lscc/radiant/2026.1/ip/pmi/pmi_distributed_rom.v"
// file 67 "d:/lscc/radiant/2026.1/ip/pmi/pmi_distributed_shift_reg.v"
// file 68 "d:/lscc/radiant/2026.1/ip/pmi/pmi_distributed_spram.v"
// file 69 "d:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 70 "d:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 71 "d:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 72 "d:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 73 "d:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 74 "d:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 75 "d:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 76 "d:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 77 "d:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_true.v"
// file 78 "d:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 79 "d:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 80 "d:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 81 "d:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 82 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/acc54.v"
// file 83 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/adc.v"
// file 84 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/alureg.v"
// file 85 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/aon.v"
// file 86 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/bb_adc.v"
// file 87 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/bb_cdr.v"
// file 88 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/bb_i3c_a.v"
// file 89 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/bb_programn.v"
// file 90 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/bfd1p3kx.v"
// file 91 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/bfd1p3lx.v"
// file 92 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/bnkref18.v"
// file 93 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/config_ip.v"
// file 94 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/config_lmmi.v"
// file 95 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/config_lmmia.v"
// file 96 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/cre.v"
// file 97 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ddrdll.v"
// file 98 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/diffio18.v"
// file 99 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/dlldel.v"
// file 100 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/dp16k.v"
// file 101 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/dphy.v"
// file 102 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/dpsc512k.v"
// file 103 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/dqsbuf.v"
// file 104 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ebr.v"
// file 105 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/eclkdiv.v"
// file 106 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/eclksync.v"
// file 107 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/fbmux.v"
// file 108 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/fifo16k.v"
// file 109 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/i2cfifo.v"
// file 110 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ifd1p3bx.v"
// file 111 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ifd1p3dx.v"
// file 112 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ifd1p3ix.v"
// file 113 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ifd1p3jx.v"
// file 114 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/iologic.v"
// file 115 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/jtag.v"
// file 116 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/lram.v"
// file 117 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/m18x36.v"
// file 118 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mipi.v"
// file 119 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mult18.v"
// file 120 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mult18x18.v"
// file 121 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mult18x36.v"
// file 122 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mult36.v"
// file 123 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mult36x36.v"
// file 124 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mult9.v"
// file 125 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/mult9x9.v"
// file 126 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multaddsub18x18.v"
// file 127 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multaddsub18x18wide.v"
// file 128 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multaddsub18x36.v"
// file 129 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multaddsub36x36.v"
// file 130 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multaddsub9x9wide.v"
// file 131 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multiboot.v"
// file 132 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multpreadd18x18.v"
// file 133 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/multpreadd9x9.v"
// file 134 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ofd1p3bx.v"
// file 135 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ofd1p3dx.v"
// file 136 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ofd1p3ix.v"
// file 137 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/ofd1p3jx.v"
// file 138 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/osc.v"
// file 139 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/osca.v"
// file 140 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/oscd.v"
// file 141 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/pcie.v"
// file 142 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/pdp16k.v"
// file 143 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/pdpsc16k.v"
// file 144 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/pdpsc512k.v"
// file 145 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/pll.v"
// file 146 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/plla.v"
// file 147 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/plld.v"
// file 148 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/pllrefcs.v"
// file 149 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/pmu.v"
// file 150 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/preadd9.v"
// file 151 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/refmux.v"
// file 152 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/reg18.v"
// file 153 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/sedc.v"
// file 154 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/seio18.v"
// file 155 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/seio33.v"
// file 156 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/sgmiicdr.v"
// file 157 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/siologic.v"
// file 158 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/sp16k.v"
// file 159 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/sp512k.v"
// file 160 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/tsalla.v"
// file 161 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/usb23.v"
// file 162 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/lifcl/wdt.v"
// file 163 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/dpr16x4.v"
// file 164 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/fd1p3bx.v"
// file 165 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/fd1p3dx.v"
// file 166 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/fd1p3ix.v"
// file 167 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/fd1p3jx.v"
// file 168 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/gsr.v"
// file 169 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/ib.v"
// file 170 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/ob.v"
// file 171 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/obz.v"
// file 172 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/pclkdivsp.v"
// file 173 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/spr16x4.v"
// file 174 "d:/lscc/radiant/2026.1/cae_library/simulation/verilog/uaplatform/widefn9.v"

//
// Verilog Description of module network_tb
//

module network_tb (input clk, input reset, input [1:0]network_inputs, 
            output [1:0]network_outputs, output weights_loaded);
    
    (* is_clock=1 *) wire clk_c;
    wire reset_c;
    wire weights_loaded_c;
    wire [1:0]network_outputs_c;
    wire [31:0]potential_decayed;
    wire [31:0]potential_decayed_adj_2131;
    
    wire GND_net, VCC_net, n604, n62, n596, n62_adj_2132, n382, 
        n386;
    
    VHI i11 (.Z(VCC_net));
    OB \network_outputs_pad[1]  (.I(network_outputs_c[1]), .O(network_outputs[1]));
    OB \network_outputs_pad[0]  (.I(network_outputs_c[0]), .O(network_outputs[0]));
    (* lut_function="(A+!(B (C+!(D))))" *) LUT4 i166_3_lut_4_lut (.A(reset_c), 
            .B(weights_loaded_c), .C(potential_decayed_adj_2131[31]), .D(n62), 
            .Z(n386));
    defparam i166_3_lut_4_lut.INIT = "0xbfbb";
    (* lut_function="(A+((C)+!B))" *) LUT4 i281_2_lut_3_lut (.A(reset_c), 
            .B(weights_loaded_c), .C(potential_decayed[31]), .Z(n596));
    defparam i281_2_lut_3_lut.INIT = "0xfbfb";
    (* lut_function="(A+((C)+!B))" *) LUT4 i289_2_lut_3_lut (.A(reset_c), 
            .B(weights_loaded_c), .C(potential_decayed_adj_2131[31]), .Z(n604));
    defparam i289_2_lut_3_lut.INIT = "0xfbfb";
    OB weights_loaded_pad (.I(weights_loaded_c), .O(weights_loaded));
    GSR GSR_INST (.GSR_N(VCC_net));
    defparam GSR_INST.SYNCMODE = "ASYNC";
    IB clk_pad (.I(clk), .O(clk_c));
    IB reset_pad (.I(reset), .O(reset_c));
    (* lut_function="(A+!(B (C+!(D))))" *) LUT4 i162_3_lut_4_lut (.A(reset_c), 
            .B(weights_loaded_c), .C(potential_decayed[31]), .D(n62_adj_2132), 
            .Z(n382));
    defparam i162_3_lut_4_lut.INIT = "0xbfbb";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=137, LSE_RLINE=142 *) spike_array output_neurons (n382, 
            n386, clk_c, n62_adj_2132, potential_decayed[31], n596, 
            {network_outputs_c}, n62, potential_decayed_adj_2131[31], 
            n604);
    VLO i499 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) \weight_manager_unit(NUM_WEIGHTS=8)  wmu (clk_c, 
            reset_c, weights_loaded_c);
    
endmodule

//
// Verilog Description of module spike_array
//

module spike_array (input n382, input n386, input clk_c, output n62, 
            output \potential_decayed[31] , input n596, output [1:0]network_outputs_c, 
            output n62_adj_1, output \potential_decayed[31]_adj_2 , input n604);
    
    (* is_clock=1 *) wire clk_c;
    
    (* LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) spike_neuron \GEN_NEURONS[1].sn  (n382, 
            clk_c, \potential_decayed[31] , n596, n62, network_outputs_c[1]);
    (* LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) spike_neuron_U0 \GEN_NEURONS[0].sn  (n62_adj_1, 
            clk_c, n386, \potential_decayed[31]_adj_2 , network_outputs_c[0], 
            n604);
    
endmodule

//
// Verilog Description of module spike_neuron
//

module spike_neuron (input n382, input clk_c, output \potential_decayed[31] , 
            input n596, output n62, output \network_outputs_c[1] );
    
    wire [31:0]potential_decayed;
    wire [31:0]potential;
    (* is_clock=1 *) wire clk_c;
    wire [31:0]potential_new;
    
    wire VCC_net, GND_net, n661, n830, n667, n835, n836, n822, 
        n768, n654, n821, n664, n824, n666, n727, n833, n656, 
        n837, n655, n818, n653, n839, n662, n665, n663, n660, 
        n652, n659, n658, n657;
    
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i1 (.D(potential_decayed[1]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[1]));
    defparam potential__i1.GSR = "ENABLED";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut (.A(potential_decayed[19]), 
            .B(potential_decayed[27]), .C(potential_decayed[29]), .D(potential_decayed[6]), 
            .Z(n836));
    defparam i1_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(potential_decayed[20]), 
            .B(potential_decayed[28]), .Z(n822));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_12 (.A(potential_decayed[15]), 
            .B(potential_decayed[17]), .C(potential_decayed[18]), .D(potential_decayed[21]), 
            .Z(n768));
    defparam i1_4_lut_adj_12.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_13 (.A(potential_decayed[24]), 
            .B(potential_decayed[10]), .Z(n821));
    defparam i1_2_lut_adj_13.INIT = "0xeeee";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_3_lut (.A(potential_decayed[23]), 
            .B(potential_decayed[25]), .C(potential_decayed[7]), .Z(n830));
    defparam i1_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_3_lut_adj_14 (.A(potential_decayed[2]), 
            .B(potential_decayed[3]), .C(potential_decayed[1]), .Z(n727));
    defparam i1_3_lut_adj_14.INIT = "0xfefe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_15 (.A(potential_decayed[13]), 
            .B(potential_decayed[26]), .Z(n824));
    defparam i1_2_lut_adj_15.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_16 (.A(potential_decayed[12]), 
            .B(potential_decayed[8]), .C(potential_decayed[11]), .D(potential_decayed[16]), 
            .Z(n835));
    defparam i1_4_lut_adj_16.INIT = "0xfffe";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_17 (.A(potential_decayed[5]), 
            .B(potential_decayed[4]), .Z(n818));
    defparam i1_2_lut_adj_17.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_18 (.A(n768), .B(potential_decayed[9]), 
            .C(n822), .D(potential_decayed[22]), .Z(n833));
    defparam i1_4_lut_adj_18.INIT = "0xfffe";
    CCU2 potential_new_31__I_0_7 (.A1(potential[6]), .B1(potential_new[14]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[5]), .B0(potential_new[13]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n654), .COUT(n655), .S1(potential_decayed[6]), 
         .S0(potential_decayed[5]));
    defparam potential_new_31__I_0_7.INJECT = "NO";
    defparam potential_new_31__I_0_7.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_7.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_5 (.A1(potential[4]), .B1(potential_new[12]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[3]), .B0(potential_new[11]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n653), .COUT(n654), .S1(potential_decayed[4]), 
         .S0(potential_decayed[3]));
    defparam potential_new_31__I_0_5.INJECT = "NO";
    defparam potential_new_31__I_0_5.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_5.INIT1 = "0x99AA";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i0 (.D(potential_decayed[0]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[0]));
    defparam potential__i0.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX spike_out (.D(n62), 
            .CK(clk_c), .SP(VCC_net), .CD(n596), .Q(\network_outputs_c[1] ));
    defparam spike_out.GSR = "ENABLED";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_19 (.A(n836), .B(n839), 
            .C(n837), .D(n833), .Z(n62));
    defparam i1_4_lut_adj_19.INIT = "0xfffe";
    CCU2 potential_new_31__I_0_21 (.A1(potential_new[20]), .B1(potential_new[28]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[19]), .B0(potential_new[27]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n661), .COUT(n662), .S1(potential_decayed[20]), 
         .S0(potential_decayed[19]));
    defparam potential_new_31__I_0_21.INJECT = "NO";
    defparam potential_new_31__I_0_21.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_21.INIT1 = "0x99AA";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_20 (.A(potential_decayed[30]), 
            .B(n830), .C(potential_decayed[14]), .D(n821), .Z(n837));
    defparam i1_4_lut_adj_20.INIT = "0xfffe";
    (* lut_function="(A (B+(C+(D)))+!A (B+(C)))" *) LUT4 i1_4_lut_adj_21 (.A(n818), 
            .B(n835), .C(n824), .D(n727), .Z(n839));
    defparam i1_4_lut_adj_21.INIT = "0xfefc";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i2 (.D(potential_decayed[2]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[2]));
    defparam potential__i2.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i3 (.D(potential_decayed[3]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[3]));
    defparam potential__i3.GSR = "ENABLED";
    CCU2 potential_new_31__I_0_33 (.A1(GND_net), .B1(GND_net), .C1(GND_net), 
         .D1(VCC_net), .A0(potential_new[31]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n667), .S0(\potential_decayed[31] ));
    defparam potential_new_31__I_0_33.INJECT = "NO";
    defparam potential_new_31__I_0_33.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_33.INIT1 = "0x0000";
    CCU2 potential_new_31__I_0_31 (.A1(potential_new[30]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[29]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n666), .COUT(n667), .S1(potential_decayed[30]), 
         .S0(potential_decayed[29]));
    defparam potential_new_31__I_0_31.INJECT = "NO";
    defparam potential_new_31__I_0_31.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_31.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_29 (.A1(potential_new[28]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[27]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n665), .COUT(n666), .S1(potential_decayed[28]), 
         .S0(potential_decayed[27]));
    defparam potential_new_31__I_0_29.INJECT = "NO";
    defparam potential_new_31__I_0_29.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_29.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_27 (.A1(potential_new[26]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[25]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n664), .COUT(n665), .S1(potential_decayed[26]), 
         .S0(potential_decayed[25]));
    defparam potential_new_31__I_0_27.INJECT = "NO";
    defparam potential_new_31__I_0_27.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_27.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_25 (.A1(potential_new[24]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[23]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n663), .COUT(n664), .S1(potential_decayed[24]), 
         .S0(potential_decayed[23]));
    defparam potential_new_31__I_0_25.INJECT = "NO";
    defparam potential_new_31__I_0_25.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_25.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_19 (.A1(potential_new[18]), .B1(potential_new[26]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[17]), .B0(potential_new[25]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n660), .COUT(n661), .S1(potential_decayed[18]), 
         .S0(potential_decayed[17]));
    defparam potential_new_31__I_0_19.INJECT = "NO";
    defparam potential_new_31__I_0_19.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_19.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_3 (.A1(potential[2]), .B1(potential_new[10]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[1]), .B0(potential_new[9]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n652), .COUT(n653), .S1(potential_decayed[2]), 
         .S0(potential_decayed[1]));
    defparam potential_new_31__I_0_3.INJECT = "NO";
    defparam potential_new_31__I_0_3.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_3.INIT1 = "0x99AA";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i4 (.D(potential_decayed[4]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[4]));
    defparam potential__i4.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i5 (.D(potential_decayed[5]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[5]));
    defparam potential__i5.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i6 (.D(potential_decayed[6]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[6]));
    defparam potential__i6.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i7 (.D(potential_decayed[7]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential[7]));
    defparam potential__i7.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i8 (.D(potential_decayed[8]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[8]));
    defparam potential__i8.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i9 (.D(potential_decayed[9]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[9]));
    defparam potential__i9.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i10 (.D(potential_decayed[10]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[10]));
    defparam potential__i10.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i11 (.D(potential_decayed[11]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[11]));
    defparam potential__i11.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i12 (.D(potential_decayed[12]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[12]));
    defparam potential__i12.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i13 (.D(potential_decayed[13]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[13]));
    defparam potential__i13.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i14 (.D(potential_decayed[14]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[14]));
    defparam potential__i14.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i15 (.D(potential_decayed[15]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[15]));
    defparam potential__i15.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i16 (.D(potential_decayed[16]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[16]));
    defparam potential__i16.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i17 (.D(potential_decayed[17]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[17]));
    defparam potential__i17.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i18 (.D(potential_decayed[18]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[18]));
    defparam potential__i18.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i19 (.D(potential_decayed[19]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[19]));
    defparam potential__i19.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i20 (.D(potential_decayed[20]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[20]));
    defparam potential__i20.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i21 (.D(potential_decayed[21]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[21]));
    defparam potential__i21.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i22 (.D(potential_decayed[22]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[22]));
    defparam potential__i22.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i23 (.D(potential_decayed[23]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[23]));
    defparam potential__i23.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i24 (.D(potential_decayed[24]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[24]));
    defparam potential__i24.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i25 (.D(potential_decayed[25]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[25]));
    defparam potential__i25.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i26 (.D(potential_decayed[26]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[26]));
    defparam potential__i26.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i27 (.D(potential_decayed[27]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[27]));
    defparam potential__i27.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i28 (.D(potential_decayed[28]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[28]));
    defparam potential__i28.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i29 (.D(potential_decayed[29]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[29]));
    defparam potential__i29.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i30 (.D(potential_decayed[30]), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[30]));
    defparam potential__i30.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i31 (.D(\potential_decayed[31] ), 
            .CK(clk_c), .SP(VCC_net), .CD(n382), .Q(potential_new[31]));
    defparam potential__i31.GSR = "ENABLED";
    CCU2 potential_new_31__I_0_17 (.A1(potential_new[16]), .B1(potential_new[24]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[15]), .B0(potential_new[23]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n659), .COUT(n660), .S1(potential_decayed[16]), 
         .S0(potential_decayed[15]));
    defparam potential_new_31__I_0_17.INJECT = "NO";
    defparam potential_new_31__I_0_17.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_17.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_23 (.A1(potential_new[22]), .B1(potential_new[30]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[21]), .B0(potential_new[29]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n662), .COUT(n663), .S1(potential_decayed[22]), 
         .S0(potential_decayed[21]));
    defparam potential_new_31__I_0_23.INJECT = "NO";
    defparam potential_new_31__I_0_23.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_23.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_15 (.A1(potential_new[14]), .B1(potential_new[22]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[13]), .B0(potential_new[21]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n658), .COUT(n659), .S1(potential_decayed[14]), 
         .S0(potential_decayed[13]));
    defparam potential_new_31__I_0_15.INJECT = "NO";
    defparam potential_new_31__I_0_15.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_15.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_13 (.A1(potential_new[12]), .B1(potential_new[20]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[11]), .B0(potential_new[19]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n657), .COUT(n658), .S1(potential_decayed[12]), 
         .S0(potential_decayed[11]));
    defparam potential_new_31__I_0_13.INJECT = "NO";
    defparam potential_new_31__I_0_13.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_13.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_11 (.A1(potential_new[10]), .B1(potential_new[18]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[9]), .B0(potential_new[17]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n656), .COUT(n657), .S1(potential_decayed[10]), 
         .S0(potential_decayed[9]));
    defparam potential_new_31__I_0_11.INJECT = "NO";
    defparam potential_new_31__I_0_11.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_11.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_9 (.A1(potential_new[8]), .B1(potential_new[16]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[7]), .B0(potential_new[15]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n655), .COUT(n656), .S1(potential_decayed[8]), 
         .S0(potential_decayed[7]));
    defparam potential_new_31__I_0_9.INJECT = "NO";
    defparam potential_new_31__I_0_9.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_9.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_cin (.A1(potential[0]), .B1(potential_new[8]), 
         .C1(GND_net), .D1(VCC_net), .A0(GND_net), .B0(GND_net), .C0(GND_net), 
         .D0(VCC_net), .CIN(VCC_net), .COUT(n652), .S1(potential_decayed[0]));
    defparam potential_new_31__I_0_cin.INJECT = "NO";
    defparam potential_new_31__I_0_cin.INIT0 = "0x00FF";
    defparam potential_new_31__I_0_cin.INIT1 = "0x99AA";
    VHI i1 (.Z(VCC_net));
    VLO i2 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module spike_neuron_U0
//

module spike_neuron_U0 (output n62, input clk_c, input n386, output \potential_decayed[31] , 
            output \network_outputs_c[0] , input n604);
    
    wire [31:0]potential_decayed;
    wire [31:0]potential_new;
    wire [31:0]potential;
    (* is_clock=1 *) wire clk_c;
    
    wire VCC_net, GND_net, n728, n683, n785, n673, n786, n677, 
        n796, n801, n805, n803, n800, n679, n804, n787, n782, 
        n802, n671, n670, n672, n682, n681, n680, n678, n676, 
        n675, n674, n669, n668;
    
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(potential_decayed[17]), 
            .B(potential_decayed[10]), .Z(n785));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_2 (.A(potential_decayed[12]), 
            .B(potential_decayed[15]), .Z(n786));
    defparam i1_2_lut_adj_2.INIT = "0xeeee";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_3_lut (.A(potential_decayed[7]), 
            .B(potential_decayed[14]), .C(potential_decayed[9]), .Z(n796));
    defparam i1_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut (.A(potential_decayed[19]), 
            .B(potential_decayed[27]), .C(potential_decayed[6]), .D(potential_decayed[23]), 
            .Z(n803));
    defparam i1_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_3_lut_adj_3 (.A(potential_decayed[2]), 
            .B(potential_decayed[3]), .C(potential_decayed[1]), .Z(n728));
    defparam i1_3_lut_adj_3.INIT = "0xfefe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_4 (.A(potential_decayed[24]), 
            .B(potential_decayed[28]), .Z(n787));
    defparam i1_2_lut_adj_4.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_5 (.A(potential_decayed[25]), 
            .B(potential_decayed[13]), .C(potential_decayed[22]), .D(potential_decayed[26]), 
            .Z(n800));
    defparam i1_4_lut_adj_5.INIT = "0xfffe";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_6 (.A(potential_decayed[5]), 
            .B(potential_decayed[4]), .Z(n782));
    defparam i1_2_lut_adj_6.INIT = "0x8888";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i0 (.D(potential_decayed[0]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[0]));
    defparam potential__i0.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i31 (.D(\potential_decayed[31] ), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[31]));
    defparam potential__i31.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i30 (.D(potential_decayed[30]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[30]));
    defparam potential__i30.GSR = "ENABLED";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_7 (.A(potential_decayed[21]), 
            .B(potential_decayed[8]), .C(potential_decayed[29]), .D(potential_decayed[18]), 
            .Z(n802));
    defparam i1_4_lut_adj_7.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_8 (.A(n803), .B(n796), 
            .C(n786), .D(n785), .Z(n804));
    defparam i1_4_lut_adj_8.INIT = "0xfffe";
    (* lut_function="(A (B+(C+(D)))+!A (B+(C)))" *) LUT4 i1_4_lut_adj_9 (.A(n782), 
            .B(n800), .C(n787), .D(n728), .Z(n805));
    defparam i1_4_lut_adj_9.INIT = "0xfefc";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_10 (.A(potential_decayed[20]), 
            .B(potential_decayed[30]), .C(potential_decayed[11]), .D(potential_decayed[16]), 
            .Z(n801));
    defparam i1_4_lut_adj_10.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_11 (.A(n801), .B(n805), 
            .C(n804), .D(n802), .Z(n62));
    defparam i1_4_lut_adj_11.INIT = "0xfffe";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i29 (.D(potential_decayed[29]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[29]));
    defparam potential__i29.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i28 (.D(potential_decayed[28]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[28]));
    defparam potential__i28.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i27 (.D(potential_decayed[27]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[27]));
    defparam potential__i27.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i26 (.D(potential_decayed[26]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[26]));
    defparam potential__i26.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i25 (.D(potential_decayed[25]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[25]));
    defparam potential__i25.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i24 (.D(potential_decayed[24]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[24]));
    defparam potential__i24.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i23 (.D(potential_decayed[23]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[23]));
    defparam potential__i23.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i22 (.D(potential_decayed[22]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[22]));
    defparam potential__i22.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i21 (.D(potential_decayed[21]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[21]));
    defparam potential__i21.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i20 (.D(potential_decayed[20]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[20]));
    defparam potential__i20.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i19 (.D(potential_decayed[19]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[19]));
    defparam potential__i19.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i18 (.D(potential_decayed[18]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[18]));
    defparam potential__i18.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i17 (.D(potential_decayed[17]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[17]));
    defparam potential__i17.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i16 (.D(potential_decayed[16]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[16]));
    defparam potential__i16.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i15 (.D(potential_decayed[15]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[15]));
    defparam potential__i15.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i14 (.D(potential_decayed[14]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[14]));
    defparam potential__i14.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i13 (.D(potential_decayed[13]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[13]));
    defparam potential__i13.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i12 (.D(potential_decayed[12]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[12]));
    defparam potential__i12.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i11 (.D(potential_decayed[11]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[11]));
    defparam potential__i11.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i10 (.D(potential_decayed[10]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[10]));
    defparam potential__i10.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i9 (.D(potential_decayed[9]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[9]));
    defparam potential__i9.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i8 (.D(potential_decayed[8]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential_new[8]));
    defparam potential__i8.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i7 (.D(potential_decayed[7]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[7]));
    defparam potential__i7.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i6 (.D(potential_decayed[6]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[6]));
    defparam potential__i6.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i5 (.D(potential_decayed[5]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[5]));
    defparam potential__i5.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i4 (.D(potential_decayed[4]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[4]));
    defparam potential__i4.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i3 (.D(potential_decayed[3]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[3]));
    defparam potential__i3.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i2 (.D(potential_decayed[2]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[2]));
    defparam potential__i2.GSR = "ENABLED";
    (* lse_init_val=0, LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX potential__i1 (.D(potential_decayed[1]), 
            .CK(clk_c), .SP(VCC_net), .CD(n386), .Q(potential[1]));
    defparam potential__i1.GSR = "ENABLED";
    CCU2 potential_new_31__I_0_33 (.A1(GND_net), .B1(GND_net), .C1(GND_net), 
         .D1(VCC_net), .A0(potential_new[31]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n683), .S0(\potential_decayed[31] ));
    defparam potential_new_31__I_0_33.INJECT = "NO";
    defparam potential_new_31__I_0_33.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_33.INIT1 = "0x0000";
    CCU2 potential_new_31__I_0_31 (.A1(potential_new[30]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[29]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n682), .COUT(n683), .S1(potential_decayed[30]), 
         .S0(potential_decayed[29]));
    defparam potential_new_31__I_0_31.INJECT = "NO";
    defparam potential_new_31__I_0_31.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_31.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_29 (.A1(potential_new[28]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[27]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n681), .COUT(n682), .S1(potential_decayed[28]), 
         .S0(potential_decayed[27]));
    defparam potential_new_31__I_0_29.INJECT = "NO";
    defparam potential_new_31__I_0_29.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_29.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_27 (.A1(potential_new[26]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[25]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n680), .COUT(n681), .S1(potential_decayed[26]), 
         .S0(potential_decayed[25]));
    defparam potential_new_31__I_0_27.INJECT = "NO";
    defparam potential_new_31__I_0_27.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_27.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_25 (.A1(potential_new[24]), .B1(potential_new[31]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[23]), .B0(potential_new[31]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n679), .COUT(n680), .S1(potential_decayed[24]), 
         .S0(potential_decayed[23]));
    defparam potential_new_31__I_0_25.INJECT = "NO";
    defparam potential_new_31__I_0_25.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_25.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_23 (.A1(potential_new[22]), .B1(potential_new[30]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[21]), .B0(potential_new[29]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n678), .COUT(n679), .S1(potential_decayed[22]), 
         .S0(potential_decayed[21]));
    defparam potential_new_31__I_0_23.INJECT = "NO";
    defparam potential_new_31__I_0_23.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_23.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_21 (.A1(potential_new[20]), .B1(potential_new[28]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[19]), .B0(potential_new[27]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n677), .COUT(n678), .S1(potential_decayed[20]), 
         .S0(potential_decayed[19]));
    defparam potential_new_31__I_0_21.INJECT = "NO";
    defparam potential_new_31__I_0_21.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_21.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_19 (.A1(potential_new[18]), .B1(potential_new[26]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[17]), .B0(potential_new[25]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n676), .COUT(n677), .S1(potential_decayed[18]), 
         .S0(potential_decayed[17]));
    defparam potential_new_31__I_0_19.INJECT = "NO";
    defparam potential_new_31__I_0_19.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_19.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_17 (.A1(potential_new[16]), .B1(potential_new[24]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[15]), .B0(potential_new[23]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n675), .COUT(n676), .S1(potential_decayed[16]), 
         .S0(potential_decayed[15]));
    defparam potential_new_31__I_0_17.INJECT = "NO";
    defparam potential_new_31__I_0_17.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_17.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_15 (.A1(potential_new[14]), .B1(potential_new[22]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[13]), .B0(potential_new[21]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n674), .COUT(n675), .S1(potential_decayed[14]), 
         .S0(potential_decayed[13]));
    defparam potential_new_31__I_0_15.INJECT = "NO";
    defparam potential_new_31__I_0_15.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_15.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_13 (.A1(potential_new[12]), .B1(potential_new[20]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[11]), .B0(potential_new[19]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n673), .COUT(n674), .S1(potential_decayed[12]), 
         .S0(potential_decayed[11]));
    defparam potential_new_31__I_0_13.INJECT = "NO";
    defparam potential_new_31__I_0_13.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_13.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_11 (.A1(potential_new[10]), .B1(potential_new[18]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential_new[9]), .B0(potential_new[17]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n672), .COUT(n673), .S1(potential_decayed[10]), 
         .S0(potential_decayed[9]));
    defparam potential_new_31__I_0_11.INJECT = "NO";
    defparam potential_new_31__I_0_11.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_11.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_9 (.A1(potential_new[8]), .B1(potential_new[16]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[7]), .B0(potential_new[15]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n671), .COUT(n672), .S1(potential_decayed[8]), 
         .S0(potential_decayed[7]));
    defparam potential_new_31__I_0_9.INJECT = "NO";
    defparam potential_new_31__I_0_9.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_9.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_7 (.A1(potential[6]), .B1(potential_new[14]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[5]), .B0(potential_new[13]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n670), .COUT(n671), .S1(potential_decayed[6]), 
         .S0(potential_decayed[5]));
    defparam potential_new_31__I_0_7.INJECT = "NO";
    defparam potential_new_31__I_0_7.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_7.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_5 (.A1(potential[4]), .B1(potential_new[12]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[3]), .B0(potential_new[11]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n669), .COUT(n670), .S1(potential_decayed[4]), 
         .S0(potential_decayed[3]));
    defparam potential_new_31__I_0_5.INJECT = "NO";
    defparam potential_new_31__I_0_5.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_5.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_3 (.A1(potential[2]), .B1(potential_new[10]), 
         .C1(GND_net), .D1(VCC_net), .A0(potential[1]), .B0(potential_new[9]), 
         .C0(GND_net), .D0(VCC_net), .CIN(n668), .COUT(n669), .S1(potential_decayed[2]), 
         .S0(potential_decayed[1]));
    defparam potential_new_31__I_0_3.INJECT = "NO";
    defparam potential_new_31__I_0_3.INIT0 = "0x99AA";
    defparam potential_new_31__I_0_3.INIT1 = "0x99AA";
    CCU2 potential_new_31__I_0_cin (.A1(potential[0]), .B1(potential_new[8]), 
         .C1(GND_net), .D1(VCC_net), .A0(GND_net), .B0(GND_net), .C0(GND_net), 
         .D0(VCC_net), .CIN(VCC_net), .COUT(n668), .S1(potential_decayed[0]));
    defparam potential_new_31__I_0_cin.INJECT = "NO";
    defparam potential_new_31__I_0_cin.INIT0 = "0x00FF";
    defparam potential_new_31__I_0_cin.INIT1 = "0x99AA";
    (* LSE_LINE_FILE_ID=106, LSE_LCOL=22, LSE_RCOL=10, LSE_LLINE=22, LSE_RLINE=27 *) FD1P3IX spike_out (.D(n62), 
            .CK(clk_c), .SP(VCC_net), .CD(n604), .Q(\network_outputs_c[0] ));
    defparam spike_out.GSR = "ENABLED";
    VHI i1 (.Z(VCC_net));
    VLO i2 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module \weight_manager_unit(NUM_WEIGHTS=8) 
//

module \weight_manager_unit(NUM_WEIGHTS=8)  (input clk_c, input reset_c, 
            output weights_loaded_c);
    
    wire [7:0]weight_idx;
    wire [1:0]state;
    (* is_clock=1 *) wire clk_c;
    
    wire VCC_net, GND_net, n723, n844, n686, n809;
    wire [1:0]n336;
    wire [7:0]n261;
    
    wire clk_c_enable_1, clk_c_enable_10, clk_c_enable_3, n687, clk_c_enable_8, 
        n685, n684;
    
    (* lut_function="(A+!(B (C (D))))" *) LUT4 i1_4_lut (.A(weight_idx[3]), 
            .B(weight_idx[0]), .C(weight_idx[2]), .D(weight_idx[1]), .Z(n844));
    defparam i1_4_lut.INIT = "0xbfff";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut_adj_1 (.A(n844), .B(weight_idx[7]), 
            .C(n809), .D(weight_idx[5]), .Z(n723));
    defparam i1_4_lut_adj_1.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX state___i0 (.D(n336[0]), 
            .CK(clk_c), .SP(VCC_net), .CD(reset_c), .Q(state[0]));
    defparam state___i0.GSR = "ENABLED";
    (* lut_function="(!(A (B)))" *) LUT4 i503_2_lut (.A(state[0]), .B(state[1]), 
            .Z(clk_c_enable_1));
    defparam i503_2_lut.INIT = "0x7777";
    (* lut_function="(!(A (B (C))+!A (B+!(C))))" *) LUT4 mux_142_Mux_1_i3_3_lut (.A(state[0]), 
            .B(n723), .C(state[1]), .Z(n336[1]));
    defparam mux_142_Mux_1_i3_3_lut.INIT = "0x3a3a";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX state___i1 (.D(n336[1]), 
            .CK(clk_c), .SP(clk_c_enable_1), .CD(reset_c), .Q(state[1]));
    defparam state___i1.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i0 (.D(n261[0]), 
            .CK(clk_c), .SP(clk_c_enable_10), .CD(reset_c), .Q(weight_idx[0]));
    defparam weight_idx___i0.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weights_loaded (.D(VCC_net), 
            .CK(clk_c), .SP(clk_c_enable_3), .CD(reset_c), .Q(weights_loaded_c));
    defparam weights_loaded.GSR = "ENABLED";
    (* lut_function="(!((B)+!A))" *) LUT4 i302_2_lut (.A(state[1]), .B(state[0]), 
            .Z(clk_c_enable_8));
    defparam i302_2_lut.INIT = "0x2222";
    (* lut_function="(!(A+!(B)))" *) LUT4 i505_2_lut (.A(state[0]), .B(state[1]), 
            .Z(clk_c_enable_10));
    defparam i505_2_lut.INIT = "0x4444";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(weight_idx[4]), .B(weight_idx[6]), 
            .Z(n809));
    defparam i1_2_lut.INIT = "0xeeee";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i7 (.D(n261[7]), 
            .CK(clk_c), .SP(clk_c_enable_10), .CD(reset_c), .Q(weight_idx[7]));
    defparam weight_idx___i7.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i6 (.D(n261[6]), 
            .CK(clk_c), .SP(clk_c_enable_10), .CD(reset_c), .Q(weight_idx[6]));
    defparam weight_idx___i6.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i5 (.D(n261[5]), 
            .CK(clk_c), .SP(clk_c_enable_8), .CD(reset_c), .Q(weight_idx[5]));
    defparam weight_idx___i5.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i4 (.D(n261[4]), 
            .CK(clk_c), .SP(clk_c_enable_8), .CD(reset_c), .Q(weight_idx[4]));
    defparam weight_idx___i4.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i3 (.D(n261[3]), 
            .CK(clk_c), .SP(clk_c_enable_8), .CD(reset_c), .Q(weight_idx[3]));
    defparam weight_idx___i3.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i2 (.D(n261[2]), 
            .CK(clk_c), .SP(clk_c_enable_10), .CD(reset_c), .Q(weight_idx[2]));
    defparam weight_idx___i2.GSR = "ENABLED";
    (* LSE_LINE_FILE_ID=104, LSE_LCOL=3, LSE_RCOL=2, LSE_LLINE=61, LSE_RLINE=69 *) FD1P3IX weight_idx___i1 (.D(n261[1]), 
            .CK(clk_c), .SP(clk_c_enable_10), .CD(reset_c), .Q(weight_idx[1]));
    defparam weight_idx___i1.GSR = "ENABLED";
    CCU2 add_195_9 (.A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(VCC_net), 
         .A0(weight_idx[7]), .B0(GND_net), .C0(GND_net), .D0(VCC_net), 
         .CIN(n687), .S0(n261[7]));
    defparam add_195_9.INJECT = "NO";
    defparam add_195_9.INIT0 = "0xAAAA";
    defparam add_195_9.INIT1 = "0x0000";
    CCU2 add_195_7 (.A1(weight_idx[6]), .B1(GND_net), .C1(GND_net), .D1(VCC_net), 
         .A0(weight_idx[5]), .B0(GND_net), .C0(GND_net), .D0(VCC_net), 
         .CIN(n686), .COUT(n687), .S1(n261[6]), .S0(n261[5]));
    defparam add_195_7.INJECT = "NO";
    defparam add_195_7.INIT0 = "0xAAAA";
    defparam add_195_7.INIT1 = "0xAAAA";
    CCU2 add_195_5 (.A1(weight_idx[4]), .B1(GND_net), .C1(GND_net), .D1(VCC_net), 
         .A0(weight_idx[3]), .B0(GND_net), .C0(GND_net), .D0(VCC_net), 
         .CIN(n685), .COUT(n686), .S1(n261[4]), .S0(n261[3]));
    defparam add_195_5.INJECT = "NO";
    defparam add_195_5.INIT0 = "0xAAAA";
    defparam add_195_5.INIT1 = "0xAAAA";
    CCU2 add_195_3 (.A1(weight_idx[2]), .B1(GND_net), .C1(GND_net), .D1(VCC_net), 
         .A0(weight_idx[1]), .B0(GND_net), .C0(GND_net), .D0(VCC_net), 
         .CIN(n684), .COUT(n685), .S1(n261[2]), .S0(n261[1]));
    defparam add_195_3.INJECT = "NO";
    defparam add_195_3.INIT0 = "0xAAAA";
    defparam add_195_3.INIT1 = "0xAAAA";
    CCU2 add_195_cin (.A1(weight_idx[0]), .B1(n723), .C1(GND_net), .D1(VCC_net), 
         .A0(GND_net), .B0(GND_net), .C0(GND_net), .D0(VCC_net), .CIN(VCC_net), 
         .COUT(n684), .S1(n261[0]));
    defparam add_195_cin.INJECT = "NO";
    defparam add_195_cin.INIT0 = "0x0000";
    defparam add_195_cin.INIT1 = "0x66AA";
    (* lut_function="(A (B (C))+!A (C))" *) LUT4 i308_2_lut_3_lut (.A(n723), 
            .B(state[0]), .C(state[1]), .Z(clk_c_enable_3));
    defparam i308_2_lut_3_lut.INIT = "0xd0d0";
    (* lut_function="(A (B (C)+!B !(C))+!A ((C)+!B))" *) LUT4 mux_142_Mux_0_i3_3_lut_3_lut (.A(n723), 
            .B(state[0]), .C(state[1]), .Z(n336[0]));
    defparam mux_142_Mux_0_i3_3_lut_3_lut.INIT = "0xd3d3";
    VHI i1 (.Z(VCC_net));
    VLO i2 (.Z(GND_net));
    
endmodule
